[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npm run build --workspace=@no-safe-word/dashboard"]

[start]
cmd = "npm run start --workspace=@no-safe-word/dashboard"
